In [2]:
break_list = [1 , 5 , 4 ,6 , 9 ,10]
for i in break_list:
    if i == 4:
        continue
    print(i)

1
5
6
9
10

In [3]:
6 in break_list

True

In [4]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ",
               "Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]

In [5]:
full_namess = []

In [29]:
for f in first_names:
    for l in last_names:
        full_namess.append(f + " " + l)

In [30]:
full_namess

['BlueRay  Zzz',
 'BlueRay  Burp',
 'BlueRay  Dogbone',
 'BlueRay  Droop',
 'Upchuck  Zzz',
 'Upchuck  Burp',
 'Upchuck  Dogbone',
 'Upchuck  Droop',
 'Lojack  Zzz',
 'Lojack  Burp',
 'Lojack  Dogbone',
 'Lojack  Droop',
 'Gizmo  Zzz',
 'Gizmo  Burp',
 'Gizmo  Dogbone',
 'Gizmo  Droop',
 'Do-Rag  Zzz',
 'Do-Rag  Burp',
 'Do-Rag  Dogbone',
 'Do-Rag  Droop',
 'BlueRay  Zzz',
 'BlueRay  Burp',
 'BlueRay  Dogbone',
 'BlueRay  Droop',
 'Upchuck  Zzz',
 'Upchuck  Burp',
 'Upchuck  Dogbone',
 'Upchuck  Droop',
 'Lojack  Zzz',
 'Lojack  Burp',
 'Lojack  Dogbone',
 'Lojack  Droop',
 'Gizmo  Zzz',
 'Gizmo  Burp',
 'Gizmo  Dogbone',
 'Gizmo  Droop',
 'Do-Rag  Zzz',
 'Do-Rag  Burp',
 'Do-Rag  Dogbone',
 'Do-Rag  Droop']

In [34]:
for i in range(1,11):
    print("2 * " + str(i) + " = " + str(i*2))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [40]:
start = int(input("enter start of tables"))
end = int(input("enter end of tables"))

for tableNumber in range(start,end):
    for counting in range(1,11):
       
        print(tableNumber,"*",counting,"=",counting*tableNumber)
        
    print("========")

enter start of tables2
enter end of tables5
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
========
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
========
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
========

# Dictionaries

In [41]:
#dct = {key:value,key:value,key:value,key:value,key:value}

In [42]:
type(dct)

dict

In [57]:
dct = {1:100, 2:200,3:300,4:400}
dct1 = {"a":"apple", 'b':"bara apple"}
dct2 = {1:"a", 2:"b", 3:"c"}
dct3 = {"apple":100, 'orange':120}
dct4 = {'name':['asad','saad', 'alfa'], 1:99999}
dct5 = {"a1":[dct,dct1,dct2,dct3,dct4]}
print(dct5)

dct[1]
dct1['b']
dct5["a1"]="kutch nahi"
dct5["9999"]="bohatkutch"
dct5

{'a1': [{1: 100, 2: 200, 3: 300, 4: 400}, {'a': 'apple', 'b': 'bara apple'}, {1: 'a', 2: 'b', 3: 'c'}, {'apple': 100, 'orange': 120}, {'name': ['asad', 'saad', 'alfa'], 1: 99999}]}

{1: 'danish', 2: 'saad'}

In [56]:
dct5

{'a1': 'kutch nahi', '9999': 'bohatkutch'}

In [74]:
dct6={"1":["asad", "qwer"], 2:"saad", 11:"danish"}
dct6["1"].append("try")
dct6

{'1': ['asad', 'qwer', 'try'], 2: 'saad', 11: 'danish'}

In [64]:
dct6[1]

['asad', 'qwer']

In [65]:
del dct6[1]
dct6

{2: 'saad', 11: 'danish'}

In [69]:
dct7 = {1:{11:"a",22:"d",33:"g",44:"y4z"}, 2:"1234567"}
dct7[1][44][1]

'4'

In [ ]:
dct8 = {1,2,3,4,5,6,7,8,9}